:root {
	--standart-color: #27ba7a;
	--secondary-color: #6c757d;
}
.headerWrap {
	width: auto;
	height: auto;
}
.headerFirstWrap {
	width: 100%;
	height: 50px;
	background-color: var(--standart-color);
	display: flex;
	align-items: center;
	justify-content: center;
}
.headerFirstWrapDiv {
	width: 90%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.locationWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.locationWrapIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin-right: 20px;
}
.headerFirstH4 {
	font-family: 'Work Sans', sans-serif;
	color: white;
	font-size: 15px;
	text-decoration: none;
}
.lacationIconSt {
	color: white;
	font-size: 25px;
	margin-right: 5px;
}
.contactWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.headerFirstPLink {
	color: white;
	font-size: 15px;
	text-decoration: none;
	margin-left: 15px;
}
/* Стилі для прозорого хедера */
.transparentHeader {
	background-color: transparent; /* Зробіть фон повністю прозорим */
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 50px;
	width: 100%;
	height: 100px;
	z-index: 1000;

	transition:
		opacity 0.3s ease,
		transform 0.5s ease; /* Плавна анімація показу */
}

/* Стилі для зафіксованого хедера після прокрутки */
.sticky {
	background-color: rgba(0, 0, 0, 0.9); /* Змінюємо колір фону для видимості */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition:
		opacity 0.3s ease,
		transform 0.5s ease;
}

/* Стилі для секції героя та контенту */
.hero {
	background-image: url('../../img/slide1.webp');
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 50px;
}

.content {
	padding: 50px;
}
.seconHeaderWr {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.seconHeaderWrFl {
	width: 90%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	opacity: 1;
}
.listStyle {
	width: 37%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	opacity: 1;
	color: white;
	list-style-type: none;
}
.listLi {
	color: white;
	cursor: pointer;
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
}
.listLi:hover {
	color: var(--standart-color);
}
.logo {
	font-family: 'Shrikhand', cursive;
	color: white;
	font-size: 40px;
	font-weight: bolder;
}
.logoSpan {
	font-family: 'Shrikhand', cursive;
	color: var(--standart-color);
	font-size: 40px;
	font-weight: bolder;
}
