:root {
	--standart-color: #27ba7a;
	--secondary-color: #6c757d;
	--custom-font: 'Montserrat', sans-serif;
	--customtwo-font: 'Work Sans', Arial, Tahoma;
}
.contactLabelWrap {
	width: 100%;
	height: 384px;
	background: url(../../../img//new.jpeg) no-repeat #fff;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contactUsH1Top {
	color: white;
	font-weight: bolder;
	font-size: 40px;
}
.sectionWrap {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}
.categoryListWrap {
	width: 80%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.ulListCategory {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	list-style-type: none;
}
.ulListLi {
	font-family: var(--custom-font);
	font-size: 30px;
	font-weight: bolder;
	cursor: pointer;
}
.ulListLi:hover {
	color: var(--standart-color);
}
.prodListWrapBig {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.prodListWrap {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 50px;
	margin-bottom: 50px;
}
.prodWrap {
	width: 341px;
	height: 511px;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	box-shadow: 0px 0px 7px rgb(226, 226, 226);
	margin-top: 30px;
}
.prodPic {
	width: 272px;
	height: 160px;
}
.carName {
	margin-bottom: 0;
	color: black;
	text-decoration: none;
}
.smallDesc {
	margin-top: 0;
}
.priceList {
	list-style-type: none;
	width: 100%;
	height: auto;
	margin-left: 0;
	padding-left: 0;
}
.priceListLi {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: rgb(252, 252, 252);
}
.listP {
	font-family: var(--custom-font);
	font-weight: bolder;
}
.listPSecond {
	font-family: var(--custom-font);
	font-weight: bolder;
	font-size: 15px;
}
.priceListLiBack {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: rgb(242, 242, 242);
}
.buttonMessag {
	width: 90%;
	height: 60px;
	font-family: var(--custom-font);
	font-weight: bolder;
	font-size: 20px;
	border: none;
	background: var(--standart-color);
	border-radius: 8px;
	color: white;
	cursor: pointer;
}
.sendSectionWrapFull {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
.sendSectionWrap {
	position: fixed;
	width: 400px;
	height: auto;
	padding-bottom: 30px;
	top: 250px;
	right: calc(50% - 200px);
	background-color: #f7f7f7;
	border: 2px solid var(--standart-color);
	border-radius: 8px;
	box-shadow: 0px 0px 7px rgb(226, 226, 226);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.aiOutlineClose {
	font-size: 35px;
	color: var(--standart-color);
	align-self: flex-end;
	cursor: pointer;
	margin-top: 5px;
	margin-right: 5px;
}
.titleForForm {
	font-family: var(--custom-font);
	font-weight: bolder;
	text-align: center;
	font-size: 20px;
}
.inputWrap {
	width: 90%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.inpAndPWr {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.inpName {
	font-family: var(--custom-font);
	font-size: 20px;
	margin-bottom: 0;
	font-weight: bolder;
	margin-left: 5px;
}
.inputForm {
	width: calc(100% - 12px);
	height: 50px;
	padding-left: 10px;
	border: 1px solid var(--standart-color);
	border-radius: 8px;
	color: #6c757d;
}
.buttonInForm {
	width: 100%;
	height: 60px;
	border: none;
	border-radius: 8px;
	font-family: var(--custom-font);
	font-weight: bolder;
	font-size: 20px;
	background: var(--standart-color);
	margin-top: 30px;
	cursor: pointer;
}
.customSelect {
	align-self: flex-start;
	margin-left: 100px;
	width: 300px;
	height: 60px;
	border: 1px solid var(--standart-color);
	color: black;
	font-weight: bolder;
	font-size: 17px;
	font-family: var(--custom-font);
}
@media only screen and (max-width: 600px) and (min-width: 300px) {
	.categoryListWrap {
		width: 98%;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.ulListLi {
		font-family: var(--custom-font);
		font-size: 20px;
		font-weight: bolder;
		cursor: pointer;
	}
}
@media only screen and (max-width: 700px) and (min-width: 479px) {
}
@media only screen and (max-width: 1440px) and (min-width: 1024px) {
}
@media only screen and (max-width: 1024px) and (min-width: 701px) {
}
