:root {
	--standart-color: #27ba7a;
	--secondary-color: #6c757d;
	--custom-font: 'Montserrat', sans-serif;
}
.headerWrap {
	width: auto;
	height: auto;
}
.headerFirstWrap {
	width: 100%;
	height: 50px;
	background-color: var(--standart-color);
	display: flex;
	align-items: center;
	justify-content: center;
}
.headerFirstWrapDiv {
	width: 90%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.locationWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.locationWrapIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin-right: 20px;
}
.headerFirstH4 {
	font-family: var(--custom-font);
	color: white;
	font-size: 15px;
	text-decoration: none;
	font-weight: bolder;
}
.lacationIconSt {
	color: white;
	font-size: 25px;
	margin-right: 5px;
}
.contactWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.headerFirstPLink {
	color: white;
	font-size: 15px;
	text-decoration: none;
	margin-left: 15px;
}
/* Стилі для прозорого хедера */
.transparentHeader {
	background-color: white; /* Зробіть фон повністю прозорим */
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100px;
	z-index: 1000;

	transition:
		opacity 0.3s ease,
		transform 0.5s ease; /* Плавна анімація показу */
}

/* Стилі для зафіксованого хедера після прокрутки */
.sticky {
	background-color: rgba(
		204,
		204,
		204,
		0.9
	); /* Змінюємо колір фону для видимості */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition:
		opacity 0.3s ease,
		transform 0.5s ease;
}

/* Стилі для секції героя та контенту */

.blockPidPic {
	height: 100vh;
	width: 100%;
}

.content {
	padding: 50px;
}
.seconHeaderWr {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.seconHeaderWrFl {
	width: 90%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	opacity: 1;
}
.listStyle {
	width: 37%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	opacity: 1;
	color: white;
	list-style-type: none;
}
.listLi {
	color: black;
	cursor: pointer;
	text-decoration: none;
	font-family: var(--custom-font);
	font-size: 20px;
	font-weight: bolder;
}
.listLi:hover {
	color: var(--standart-color);
}
.logo {
	font-family: 'Permanent Marker', cursive;
	color: black;
	font-size: 40px;
	font-weight: bolder;
	text-decoration: none;
}
.logoSpan {
	font-family: 'Permanent Marker', cursive;
	color: var(--standart-color);
	font-size: 40px;
	font-weight: bolder;
}
.blockWithAutoWrap {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.topH1InFirst {
	font-family: 'Work Sans', Arial, Tahoma;
	font-size: 70px;
	align-self: flex-start;

	color: #1a2126;
	margin-bottom: 0;
	text-shadow:
		2px 0 0 #27ba7a,
		-2px 0 0 #27ba7a,
		0 2px 0 #27ba7a,
		0 -2px 0 #27ba7a,
		1px 1px #27ba7a,
		-1px -1px 0 #27ba7a,
		1px -1px 0 #27ba7a,
		-1px 1px 0 #27ba7a;
}
.topH1InFirstSecond {
	font-family: 'Work Sans', Arial, Tahoma;
	color: white;
	font-size: 50px;
	margin-bottom: 0;
}
.hWrap {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	height: 70%;
	width: 70%;
}
.wrapPIn {
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.firstPWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.styleP {
	font-family: 'Work Sans', Arial, Tahoma;
	color: white;
	font-size: 30px;
}
.titleButton {
	position: relative;
	width: 300px;
	height: 50px;
	background: none;
	border: 0;
	color: white;
	font-size: 25px;
	font-family: 'Work Sans', Arial, Tahoma;
	cursor: pointer;
	z-index: 10;
	margin-top: 20px;
}
.titleButton::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 35%;
	height: 100%;
	background: var(--standart-color);
	z-index: -1;
	color: white;
	font-size: 25px;
	font-family: 'Jost', sans-serif;
}
.titleButton:hover::before {
	width: 100%;
	transition: all 0.5s ease-in-out;
}
.languageWrapP {
	display: flex;
	align-items: center;
	justify-content: center;
}
.languageP {
	color: black;
	cursor: pointer;
	text-decoration: none;
	font-family: var(--custom-font);
	font-size: 20px;
	font-weight: bolder;
	cursor: pointer;
	text-decoration: none;
	margin-left: 10px;
}
