@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
:root {
	--standart-color: #27ba7a;
	--secondary-color: #6c757d;
	--custom-font: 'Montserrat', sans-serif;
	--customtwo-font: 'Work Sans', Arial, Tahoma;
}
.contactLabelWrap {
	width: 100%;
	height: 384px;
	background: url(../../../img/aboutTitle.webp) no-repeat #fff;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contactUsH1Top {
	color: white;
	font-weight: bolder;
	font-size: 40px;
}
.blockShortDescWrap {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 100px;
}
.blockDescTextWr {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 30%;
}
.descTextH1 {
	font-family: var(--custom-font);
	font-weight: bolder;
	font-size: 40px;
	color: black;
	margin-bottom: 0;
}
.descTextP {
	font-family: var(--custom-font);
	font-weight: bolder;
	font-size: 20px;
	color: black;
}
.blockDescPicWr {
	width: 532px;
	height: 483px;
	background: url(../../../img/forAb.jpeg);
	background-position: center;
	border-radius: 10px;
	background-size: cover;
	background-repeat: no-repeat;
}
.listQuoWrap {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 140px;
	margin-bottom: 150px;
}
.oneOfListWrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
}
.iconCupSt {
	font-size: 50px;
	color: var(--standart-color);
}
.forIcH4 {
	font-weight: bolder;
	font-size: 30px;
	color: black;
	margin-bottom: 0;
}
.forIcP {
	font-family: var(--custom-font);
	font-weight: bolder;
	font-size: 20px;
	color: black;
	text-align: center;
	width: 350px;
}
@media only screen and (max-width: 600px) and (min-width: 300px) {
	.blockShortDescWrap {
		flex-direction: column;
	}
	.blockDescTextWr {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 90%;
	}
	.descTextH1 {
		font-family: var(--custom-font);
		font-weight: bolder;
		font-size: 30px;
		color: black;
		margin-bottom: 0;
	}
	.blockDescPicWr {
		width: 300px;
		height: 250px;
	}
	.listQuoWrap {
		flex-direction: column;
	}
	.oneOfListWrap {
		width: 300px;
	}
	.forIcH4 {
		font-size: 20px;
	}
	.forIcP {
		font-size: 17px;

		width: 300px;
	}
}
@media only screen and (max-width: 700px) and (min-width: 479px) {
	.blockShortDescWrap {
		flex-direction: column;
	}
	.blockDescTextWr {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 90%;
	}
	.descTextH1 {
		font-family: var(--custom-font);
		font-weight: bolder;
		font-size: 30px;
		color: black;
		margin-bottom: 0;
	}
	.blockDescPicWr {
		width: 300px;
		height: 250px;
	}
	.listQuoWrap {
		flex-direction: column;
	}
	.oneOfListWrap {
		width: 300px;
	}
	.forIcH4 {
		font-size: 20px;
	}
	.forIcP {
		font-size: 17px;

		width: 300px;
	}
}
@media only screen and (max-width: 1440px) and (min-width: 1024px) {
	.forIcH4 {
		font-size: 20px;
	}
	.forIcP {
		font-family: var(--custom-font);
		font-weight: bolder;
		font-size: 17px;

		width: 350px;
	}
}
@media only screen and (max-width: 1024px) and (min-width: 701px) {
	.blockShortDescWrap {
		flex-direction: column;
	}
	.blockDescTextWr {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 90%;
	}
	.descTextH1 {
		font-family: var(--custom-font);
		font-weight: bolder;
		font-size: 30px;
		color: black;
		margin-bottom: 0;
	}
	.blockDescPicWr {
		width: 300px;
		height: 250px;
	}
	.listQuoWrap {
		flex-direction: column;
	}
	.oneOfListWrap {
		width: 300px;
	}
	.forIcH4 {
		font-size: 20px;
	}
	.forIcP {
		font-size: 17px;

		width: 300px;
	}
}
